In [24]:
st=["areeb","ali","rahat","raheem","kareem" ]

In [25]:
len(st)#to find length

5

In [26]:
st[3]="shajeel"
st

['areeb', 'ali', 'rahat', 'shajeel', 'kareem']

In [14]:
del st[1]
st

['areeb', 'rahat', 'shajeel', 'kareem']

In [28]:
st.insert(2,"baig")

In [29]:
st

['areeb', 'ali', 'baig', 'rahat', 'shajeel', 'kareem']

In [34]:
st.remove("rahat")

ValueError: list.remove(x): x not in list

In [33]:
st

['areeb', 'ali', 'baig', 'shajeel', 'kareem']

In [35]:
st1=[1,34,657,88,7643,22,6]

In [37]:
st1.sort()
st1

[1, 6, 22, 34, 88, 657, 7643]

In [38]:
st1.sort(reverse=True)
st1

[7643, 657, 88, 34, 22, 6, 1]

In [39]:
st2=st1.copy()#passed by value
st2

[7643, 657, 88, 34, 22, 6, 1]

In [40]:
st1.sort()

In [41]:
st1

[1, 6, 22, 34, 88, 657, 7643]

In [42]:
st2.insert(3,22)
st2

[7643, 657, 88, 22, 34, 22, 6, 1]

In [44]:
st2.count(22)

2

In [46]:
st3=[3,45,7534,2]
st3.clear()
st3

[]

In [48]:
st3.insert(2,5)
st3.insert(0,6)
st3.insert(1,59)
st3.insert(3,54)
st3

[6, 59, 5, 54, 5, 5]

In [49]:
st4=st3#passed by reference
st4

[6, 59, 5, 54, 5, 5]

In [50]:
del st4[2]
st4
st3

[6, 59, 54, 5, 5]

In [51]:
st4=st3[:]#passed by valued slicing methode
st3
st4

[6, 59, 54, 5, 5]

In [53]:
del st4[2]
print(st4)
print(st3)

[6, 59, 5]
[6, 59, 54, 5, 5]

In [54]:
st3.reverse()

In [55]:
st3

[5, 5, 54, 59, 6]

In [56]:
st3.sort()

In [57]:
st3

[5, 5, 6, 54, 59]

In [60]:
listinlist=[222,3444,['areeb', 'ali', 'baig', 'shajeel', 'kareem']]

In [61]:
listinlist[2]

['areeb', 'ali', 'baig', 'shajeel', 'kareem']

In [62]:
listinlist[2][4]

'kareem'

In [63]:
del listinlist[2][4]
listinlist

[222, 3444, ['areeb', 'ali', 'baig', 'shajeel']]

In [64]:
listinlist1=[555,654,st3]
listinlist1

[555, 654, [5, 5, 6, 54, 59]]

In [65]:
listslicing=[1,2,3,4,5,6,7,8,9]

In [66]:
listslicing[3:7]

[4, 5, 6, 7]

In [78]:
listinlist2=[2,34,56,7,["apple","banana","jamon"]]

In [79]:
listinlist2[4].remove("apple")

In [80]:
listinlist2

[2, 34, 56, 7, ['banana', 'jamon']]

In [81]:
listinlist2[4].insert(4,"peach")

In [82]:
listinlist2

[2, 34, 56, 7, ['banana', 'jamon', 'peach']]

In [83]:
list1= [1, 2, 3, 4, 5, 6, 7, 8, 9]
#revese{-9,-8,-7,-6,-5,-4,-3,-2,-1}

In [84]:
list1[-4]

6

In [87]:
list1[-4:-1]

[6, 7, 8]

In [93]:
list2=[3,4,5,6,777,89,6]

In [97]:
popedlist=[]
popedelement=list2.pop()
print(list2)
print(popedelement)
popedlist.append(popedelement)
print(popedlist)

[3, 4, 5]
6
[6]