In [1]:
myDic={}

In [2]:
len(myDic)

0

In [3]:
myDic={"name":"Areeb","age":"21","cell":"23232"}

In [9]:
myDic["age"]

'21'

In [7]:
myDic["cell"]

'23232'

In [10]:
#methode in dictionary

In [12]:
for k,v in myDic.items():
    print(f"the key is {k},and value is {v}")

the key is name,and value is Areeb
the key is age,and value is 21
the key is cell,and value is 23232

In [27]:
for k in myDic.keys():
    print(myDic[k])

Areeb
21
23232

In [28]:
for k in myDic.values():
    print(k)

Areeb
21
23232

In [29]:
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

SyntaxError: invalid syntax (<ipython-input-29-1354b9425523>, line 1)

In [30]:
a=[11,34,66,myDic]
a

[11, 34, 66, {'name': 'Areeb', 'age': '21', 'cell': '23232'}]

In [32]:
a[3]["name"]

'Areeb'

In [33]:
del a[3]["cell"]

In [34]:
a

[11, 34, 66, {'name': 'Areeb', 'age': '21'}]

In [42]:
h=[44,33,54,{"name":["asad","areeb","sam"]}]
h[3]['name'][1]

'areeb'

In [44]:
f={"name":myDic}
f

{'name': {'name': 'Areeb', 'age': '21'}}

In [49]:
f['name']["age"]="23"
f['name']["age"]

'23'

In [50]:
myDic["age"]

'23'

In [52]:
myDic["hello"]="python","piaic","saylani"

In [53]:
myDic #jab ek se zada value inset karen tu values tupel ki surat may jaengi

{'name': 'Areeb', 'age': '23', 'hello': ('python', 'piaic', 'saylani')}

In [62]:
i=[]
i.append({"no":1,"2":4,"8":5,"9":6})
i

[{'no': 1, '2': 4, '8': 5, '9': 6}]

FUNCTION

In [63]:
def add():
    print(10+20)

In [64]:
add()

30

In [78]:
def sub(a , b):
    return a-b

In [71]:
sub(999,888)

111

In [72]:
def bio(name,age,cnic_no):
    print(f"name :{name} ,age :{age} , cnic :{cnic_no}")

In [74]:
bio("areeb","21","42101")

name :areeb ,age :21 , cnic :42101

In [83]:
sub(3,2)

1

In [87]:
def name(f_name , m_name=" " , l_name="siddique"):
    full_name= f_name + m_name + l_name
    print(full_name)

In [90]:
name("areeb")

areeb siddique