In [1]:
print("my no is 3221")
type("my no is 3221")#to check datatype of input

my no is 3221

str

In [2]:
print("this is ali's Bag")
type("this is ali's Bag")

this is ali's Bag

str

In [4]:
print("Areeb",321434,65.6)

Areeb 321434 65.6

In [6]:
print("AREEB",457,332.5,sep=" !@$$ ")

AREEB !@$$ 457 !@$$ 332.5

In [17]:
print("hello world","hi",sep="==",end=" finish ")
print("hello world,hi",sep="==",end=" finish ")
print("hello world,hi",sep="==",end=" finish ")

hello world==hi finish hello world,hi finish hello world,hi finish

In [11]:
print(5+6)

11

In [13]:
print(3+float("7.7"))

10.7

In [19]:
name="areeb"
age="21"
print("my name is "+name+" my age is "+age)

my name is areeb my age is 21

In [23]:
print("my name is {} my age is {}" .format(name,age))

my name is areeb my age is 21

In [24]:
print("my name is {} my age is {}" .format(age,name))

my name is 21 my age is areeb

In [25]:
print("my name is {1} my age is {0}" .format(name,age))

my name is 21 my age is areeb

In [26]:
print(f"my name is {name} my age is {age}")

my name is areeb my age is 21

In [27]:
print("hello"*5)

hellohellohellohellohello

In [28]:
print("hello"*5.4)

TypeError: can't multiply sequence by non-int of type 'float'

In [36]:
a=56
b=3
c=a+b
c

59

In [37]:
c=a/b#singal slash represent division
c

18.666666666666668

In [39]:
c=a//b#double slash represent division in integer
c

18

In [40]:
c=a/b
c
round(c,4)

18.6667